body {
    background-color: #556AA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

input {
    width: 560px;
    height: 100px;
    background-color: #181F32;
    border-radius: 20px;
    border: none;
    outline: none;
    font-family: "Unbounded";
    font-size: 50px;
    padding-left: 10px;
    color: white;
}

.containerButtons {
    background-color: #313E64;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    border-radius: 20px;
}

.containerButtons button {
    background-color: #FFEDD1;
    width: 90px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 0px 7px 0px rgb(255, 230, 191, 1), 
                1px 15px 0px rgba(0, 0, 0, 0.3); 
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 600;
}

.containerButtons button:active {
    background-color: #ffd490; 
}

.equalButton button {
    width: 480px;
    height: 60px;
    background-color: #FF5252;
    box-shadow: 0px 7px 0px #F1424C, 
                1px 15px 0px rgba(0, 0, 0, 0.3); 
}

.containerButtons div {
    display: flex;
    gap: 30px;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
}
