body {
    background-color: #556AA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 280px;
}

.theme-switch button {
    font-family: "Unbounded";
    font-size: 9px;
    font-weight: 300;
    color: white;
    width: 95px;
    height: 30px;
    background-color: #171F32;
    border-radius: 20px;
    margin-bottom: 15px;
    border: none; 
}

.theme-switch .res-button {
    width: 30px;
}

.theme-switch {
    display: flex;
    gap: 10px;
}

.buttonLogo {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.light-theme .calculator {
    background-color: #f0f0f0;
}

.dark-theme {
    background-color: #313E64;
    color: #FFEDD1;
}

.dark-theme .calculator {
    background-color: #313E64;
}

input {
    width: 560px;
    height: 100px;
    background-color: #181F32;
    border-radius: 20px;
    border: none;
    outline: none;
    font-family: "Unbounded";
    font-size: 50px;
    padding-left: 10px;
    color: white;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3); 
}

.containerButtons {
    background-color: #313E64;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3); 
}

.containerButtons button {
    background-color: #FFEDD1;
    width: 90px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 0px 7px 0px rgb(255, 230, 191, 1), 
                1px 15px 0px rgba(0, 0, 0, 0.3); 
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 600;
}

.containerButtons button:active {
    background-color: #ffd490; 
}

.equalButton button {
    width: 480px;
    height: 60px;
    background-color: #FF5252;
    box-shadow: 0px 7px 0px #F1424C, 
                1px 15px 0px rgba(0, 0, 0, 0.3); 
}

.equalButton button:active {
    background-color: #F1424C; 
}

.containerButtons .clearButton button {
    background-color: #4D67AC;
    box-shadow: 0px 7px 0px #365199, 
                1px 15px 0px rgba(0, 0, 0, 0.3); 
}

.containerButtons .clearButton button:active {
    background-color: #365199; 
}

.containerButtons div {
    display: flex;
    gap: 30px;
}

.dark-theme .containerButtons {
    background-color: #3c4d81;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
}
